<%= render partial: 'common/navbar' %>
<main>
  <!-- section-->
  <div class="mt-4">
    <div class="container">
        <!-- row -->
        <div class="row">
          <!-- col -->
          <div class="col-12">
              <!-- breadcrumb -->
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Bike Checkout</li>
                </ol>
              </nav>
          </div>
        </div>
    </div>
  </div>
  <!-- section -->
  <section class="mb-lg-14 mb-8 mt-8">
    <div class="container">
      <div>
        <!-- row -->
        <div class="row">
          <div class="col-lg-7 col-md-12">
            <!-- accordion -->
              <!-- accordion item -->
              <div class="py-4">
                <div class="d-flex justify-content-between align-items-center">
                    <!-- heading one -->
                  <span class="fs-5 text-inherit h4">
                    <i class="feather-icon icon-map-pin me-2 text-muted"></i>
                    Delivery address
                  </span>
                </div>
                <div id="flush-collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample">
                  <div class="mt-5">
                    <div class="row">
                      <div class="col">
                        <!-- form -->
                        <div class="card card-body p-6">
                          <!-- address -->
                          <address>
                            <strong><%= current_customer.fullname %></strong>
                            <br />
                            <%= current_customer.address%>
                            <br />
                            <%= current_customer.province.name %>, Canada
                            <br />
                          </address>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- accordion item -->
              <div class="py-4">
                <span class="fs-5 text-inherit h4">
                  <i class="feather-icon icon-credit-card me-2 text-muted"></i>
                  Payment
                  <!-- collapse -->
                </span>
                <div>
                  <div class="mt-5">
                    <%= form_tag(checkout_create_path, method: :post) do %>
                      <%= button_tag(type: 'submit', class: 'btn btn-primary ms-2') do %>
                        Place Order
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
          </div>
          <!-- invoice -->
          <div class="col-12 col-md-12 offset-lg-1 col-lg-4">
            <div class="mt-4 mt-lg-0">
              <div class="card shadow-sm">
                <h5 class="px-6 py-4 bg-transparent mb-0">Order Details</h5>
                <ul class="list-group list-group-flush">
                  <!-- list group item -->
                  <% cart.each do |bike|%>
                    <li class="list-group-item px-4 py-3">
                      <div class="row align-items-center">
                        <div class="col-2 col-md-2">
                          <%= image_tag(bike.photo.variant(:thumb), class: "img-fluid", alt: bike.model) %>
                        </div>
                        <div class="col-5 col-md-5">
                          <h6 class="mb-0"><%= bike.model%></h6>
                          <span><small class="text-muted"><%= bike.brand.name%></small></span>
                        </div>
                        <div class="col-2 col-md-1 text-center text-muted">
                          <span><%= item_quantity(bike.id) %></span>
                        </div>
                        <div class="col-3 text-start text-sm-end col-md-4">
                          <span class="fw-bold"><%= "#{number_to_currency(bike.price * item_quantity(bike.id).to_i)}" %></span>
                        </div>
                      </div>
                    </li>
                  <% end %>

                  <!-- list group item -->
                  <li class="list-group-item px-4 py-3">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <div>Item Subtotal</div>
                        <div class="fw-bold"><%= number_to_currency(cart_subtotal)%></div>
                    </div>
                    <% if current_customer.province.gst? %>
                    <div class="d-flex align-items-center justify-content-between">
                      <div>
                        GST
                        <i class="feather-icon icon-info text-muted" data-bs-toggle="tooltip" title="<%= "#{current_customer.province.name} GST rate is #{current_customer.province.gst}"%>"></i>
                      </div>
                      <div class="fw-bold"><%= number_to_currency(current_customer.province.gst * cart_subtotal) %></div>
                    </div>
                    <% end %>
                    <% if current_customer.province.pst? %>
                    <div class="d-flex align-items-center justify-content-between">
                      <div>
                        PST
                        <i class="feather-icon icon-info text-muted" data-bs-toggle="tooltip" title="<%= "#{current_customer.province.name} GST rate is #{current_customer.province.pst}"%>"></i>
                      </div>
                      <div class="fw-bold"><%= number_to_currency(current_customer.province.pst * cart_subtotal) %></div>
                    </div>
                    <% end %>
                    <% if current_customer.province.hst? %>
                      <div class="d-flex align-items-center justify-content-between">
                        <div>
                          HST
                          <i class="feather-icon icon-info text-muted" data-bs-toggle="tooltip" title="<%= "#{current_customer.province.name} GST rate is #{current_customer.province.hst}"%>"></i>
                        </div>
                        <div class="fw-bold"><%= number_to_currency(current_customer.province.pst * cart_subtotal) %></div>
                      </div>
                    <% end %>
                  </li>
                  <!-- list group item -->
                  <li class="list-group-item px-4 py-3">
                    <div class="d-flex align-items-center justify-content-between fw-bold">
                      <div>Total</div>
                      <div><%= number_to_currency(cart_total) %></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>