<%= render partial: 'common/navbar-account' %>
<main>
  <section class="my-lg-14 my-8">
    <!-- container -->
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
            <!-- img -->
            <img src="../assets/svg-graphics/signin-g.svg" alt="" class="img-fluid" />
        </div>
          <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1">
            <div class="mb-lg-9 mb-5">
              <h1 class="mb-1 h2 fw-bold">Sign in to Manitoba Bikes</h1>
              <p>Welcome back to Manitoba Bikes!</p>
            </div>
            <!-- from -->
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"needs-validation") do |f| %>
              <div class="row g-3">
                <!-- col -->
                 <div class="col-12">
                  <!-- input -->
                  <label for="formSignupEmail" class="form-label visually-hidden">Email address</label>
                  <%= f.email_field :email, class:"form-control", id:"formSignupEmail", placeholder:"Email", required: true  %>
                  <div class="invalid-feedback">Please enter email.</div>
                </div>
                <div class="col-12">
                  <div class="password-field position-relative">
                    <label for="formSignupPassword" class="form-label visually-hidden">Password</label>
                    <div class="password-field position-relative">
                      <%= f.password_field :password, class:"form-control fakePassword", id:"formSignupPassword", placeholder:"Password", required:true  %>
                      <span><i class="bi bi-eye-slash passwordToggler"></i></span>
                      <div class="invalid-feedback">Please enter password.</div>
                    </div>
                  </div>
                </div>
                <!-- btn -->
                <div class="col-12 d-grid"><button type="submit" class="btn btn-primary">Signin</button></div>
                <!-- text -->
                <p>
                  Don't have an account? <a href="<%= new_customer_registration_path %>">Sign up</a>
                </p>
              </div>
            <% end %>
            <%= render "devise/shared/error_messages", resource: resource %>
          </div>
      </div>
    </div>
  </section>
</main>
<script src="../assets/vendors/password.js"></script>