<%= render partial: 'common/navbar' %>
<main>
  <% if @category %>
    <!-- section -->
    <div class="mt-4">
      <div class="container">
        <!-- row -->
        <div class="row">
          <!-- col -->
          <div class="col-12">
            <!-- breadcrumb -->
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= @category.name %></li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- section -->
    <div class="mt-8 mb-lg-14 mb-8">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row gx-10">
          <!-- col -->
          <aside class="col-lg-3 col-md-4 mb-6 mb-md-0">
            <div class="offcanvas offcanvas-start offcanvas-collapse w-md-50" tabindex="-1" id="offcanvasCategory" aria-labelledby="offcanvasCategoryLabel">
              <div class="offcanvas-header d-lg-none">
                <h5 class="offcanvas-title" id="offcanvasCategoryLabel">Filter</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body ps-lg-2 pt-lg-0">
                <div class="mb-8">
                  <!-- title -->
                  <h5 class="mb-3">Categories</h5>
                  <!-- nav -->
                  <ul class="nav nav-category" id="categoryCollapseMenu">
                    <% @categories.each do |c|%>
                    <!-- nav item -->
                    <li class="nav-item border-bottom w-100">
                      <a href="<%= category_path(c.name) %>" class="nav-link">
                          <%= c.name %>
                      </a>
                    </li>
                    <% end %>
                  </ul>
                </div>
                <div class="mb-8">
                  <h5 class="mb-3">Brands</h5>
                  <% @brands.each do |b|%>
                  <!-- form check -->
                  <div class="form-check mb-2">
                    <!-- input -->
                    <input class="form-check-input" type="checkbox" value="" id="<%= b.name %>" />
                    <label class="form-check-label" for="<%= b.name %>"><%= b.name %></label>
                  </div>
                  <% end %>
                </div>
                <div class="mb-8">
                  <!-- price -->
                  <h5 class="mb-3">Price</h5>
                  <div>
                    <!-- range -->
                    <div id="priceRange" class="mb-3"></div>
                    <small class="text-muted">Price:</small>
                    <span id="priceRange-value" class="small"></span>
                  </div>
                </div>
                <div class="mb-8 position-relative">
                  <!-- Banner Design -->
                  <!-- Banner Content -->
                  <div class="position-absolute p-5 py-8">
                      <h3 class="mb-0 text-dark">Spring Sale</h3>
                      <p class="text-dark">Get Upto 25% Off</p>
                      <a href="#" class="btn btn-dark">
                        Shop Now
                        <i class="feather-icon icon-arrow-right ms-1"></i>
                      </a>
                  </div>
                  <!-- Banner Content -->
                  <!-- Banner Image -->
                  <!-- img -->
                  <img src="../assets/banner/spring-cycling.png" alt="" class="img-fluid rounded" />
                  <!-- Banner Image -->
                </div>
              </div>
            </div>
          </aside>
          <section class="col-lg-9 col-md-12">
            <!-- card -->
            <div class="card mb-4 bg-light border-0">
              <!-- card body -->
              <div class="card-body p-9">
                <h2 class="mb-0 fs-1"><%= @category.name%> Bicycles</h2>
              </div>
            </div>
            <!-- list icon -->
            <div class="d-lg-flex justify-content-between align-items-center">
              <div class="mb-3 mb-lg-0">
                  <p class="mb-0">
                    <span class="text-dark"><%= @category.bikes.count %></span>
                    Bicycles found
                  </p>
              </div>
              <!-- icon -->
              <div class="d-md-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center justify-content-between">
                  <div>
                    <a href="#" class="text-muted me-3"><i class="bi bi-list-ul"></i></a>
                    <a href="#" class="me-3 active"><i class="bi bi-grid"></i></a>
                    <a href="#" class="me-3 text-muted"><i class="bi bi-grid-3x3-gap"></i></a>
                  </div>
                  <div class="ms-2 d-lg-none">
                    <a class="btn btn-outline-gray-400 text-muted" data-bs-toggle="offcanvas" href="#offcanvasCategory" role="button" aria-controls="offcanvasCategory">
                      <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="14"
                          height="14"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="feather feather-filter me-2">
                          <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                      </svg>
                      Filters
                    </a>
                  </div>
                </div>
                <div class="d-flex mt-2 mt-lg-0">
                  <div class="me-2 flex-grow-1">
                    <!-- select option -->
                    <select class="form-select">
                      <option selected>Show: 50</option>
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                    </select>
                  </div>
                  <div>
                    <!-- select option -->
                    <select class="form-select">
                      <option selected>Sort by: Brand</option>
                      <option value="Low to High">Price: Low to High</option>
                      <option value="High to Low">Price: High to Low</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <!-- row -->
            <%= render partial: "bikes/bikes", object: @bikes %>
          </section>
        </div>
      </div>
    </div>
  <% else %>
  <%= %>
    <%= render partial: 'common/404'%>
  <% end %>
</main>