<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'common/head/head-meta' %>

    <title>Manitoba Bikes</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <link href="../assets/libs/slick-carousel/slick/slick.css" rel="stylesheet" />
    <link href="../assets/libs/slick-carousel/slick/slick-theme.css" rel="stylesheet" />
    <link href="../assets/libs/tiny-slider/dist/tiny-slider.css" rel="stylesheet" />

    <%= render partial: 'common/head/head-links' %>
    <%= render partial: 'common/head/analytics-code' %>
  </head>

  <body>
    <main>
      <% if flash[:notice] %>
        <p>
          <%= flash[:notice] %>
        </p>
      <% end %>
      <%= yield %>
    </main>
    <%= render partial: 'common/footer' %>

    <%= render partial: 'common/scripts' %>
  </body>
</html>
